body {
    margin: 0;
    padding: 0%;
    background-color: rgba(245, 239, 239, 0.932);

}

h1 {
    font-family: "Sofia", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;




}

.top li a:hover {
  text-decoration: underline;
}


.top {
    list-style-type: none;
    margin: 0;
padding: 0;
overflow: hidden;
top: 0;
position: relative;
display: flex;
    justify-content: space-evenly;

}



header {
    padding-left: 3px;
    top: 0;
    position: relative;
    
}


.top li {
    font-family: "Open Sans", sans-serif;
    float: left;
    font-size: 1.3em;
    position: relative;

}



.top li a {
    display: block;
    text-align: center;
    position: relative;
    padding: 10px;



}


.bottom {
    list-style-type: none;
    margin: 0;
padding: 0;
overflow: hidden;
bottom: 0;
position: relative;

}

.bottom li {
    color: white;
    font-family: "Open+Sans", sans-serif;
    float: left;

}

footer {
   
    padding: 3px;
    background-color: rgb(20, 19, 19);
    bottom: 0;
    position: relative;
    margin: 0%;




}


.bottom li a {
    display: block;
    text-align: center;
    padding: 10px;
}

#cell1 {
    height: 225px;
    width: 225px;
    outline: 2px solid black;
    margin-right: 2%;
   
   background-color: white;
  

    background-position: center;
    background-size: cover;
}





#cell2 {
    height: 225px;
    width: 225px;
    outline: 2px solid black;
  
    background-size: cover;
    background-color: white;
    margin-right: 2%;
    background-position: center;


}

#cell3 {
    height: 225px;
    width: 225px;
    outline: 2px solid black;
   
  
    background-size: cover;
    background-color: white;
            background-position: center;

}






#productsr1 {
    display: flex;
    justify-content: space-evenly;



}

#productsr3 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;


}

#productsr2 {
    display: flex;
    justify-content: space-evenly;


}

@media screen and (max-width: 650px) {
#productsr3 {
    display: inline-flex !important;
    margin-bottom: 3%;
}
}

@media screen and (max-width: 650px) {
#productsr2 {
    display: inline-flex !important;
    margin-bottom: 3%;
}
}

@media screen and (max-width: 650px) {
#productsr1 {
    display: inline-flex !important;
    margin-bottom: 3%;
}
}

#cell4 {
    height: 225px;
    width: 225px;
    outline: 2px solid black;
    margin-right: 2%;

   background-color: white;
  
    background-position: center;
    background-size: cover;
}

#cell5 {
    height: 225px;
    width: 225px;
    outline: 2px solid black;
  
    background-size: cover;
    background-color: white;
    margin-right: 2%;
    background-position: center;


}

#cell6 {
    height: 225px;
    width: 225px;
    outline: 2px solid black;
   
  
    background-size: cover;
    background-color: white;
            background-position: center;
        

}


#cell7 {
    height: 225px;
    width: 225px;
    outline: 2px solid black;
   
  
    background-size: cover;
    background-color: white;
            background-position: center;
            margin-right: 2%;
}


#cell8 {
    height: 225px;
    width: 225px;
    outline: 2px solid black;
   
    margin-right: 2%;
    background-size: cover;
    background-color: white;
            background-position: center;
            display: inline;

}


#cell9 {
    height: 225px;
    width: 225px;
    outline: 2px solid black;
    display: inline;
   
  
    background-size: cover;
    background-color: white;
            background-position: center;

}

#cell1 img {
  height: 225px;
  position: absolute;
  margin-top: 6.5px;


}

#cell1 text {
   top: 0;
   display: flex;
   justify-content: center;
   font-weight:bolder;

   font-family: "Open Sans";
}



#cell2 img {
  height: 225px;
  position: absolute;
  margin-top: 6.5px;

}

#cell2 text {
   top: 0;
   display: flex;
   justify-content: center;
   font-weight:bolder;
    
   font-family: "Open Sans";
}



#cell3 img {
  height: 225px;
  position: absolute;
  margin-top: 6.5px;

}

#cell3 text {
   top: 0;
   display: flex;
   justify-content: center;
   font-weight:bolder;
    
   font-family: "Open Sans";
}


#cell4 img {
  height: 225px;
  position: absolute;
  margin-top: 6.5px;

}

#cell4 text {
   top: 0;
   display: flex;
   justify-content: center;
   font-weight:bolder;
    
   font-family: "Open Sans";
}

#cell5 img {
  height: 225px;
  position: absolute;
  margin-top: 6.5px;

}

#cell5 text {
   top: 0;
   display: flex;
   justify-content: center;
   font-weight:bolder;
    
   font-family: "Open Sans";
}

#cell6 img {
  height: 225px;
  width: 225px;
  position: absolute;
  margin-top: 6.5px;

}

#cell6 text {
   top: 0;
   display: flex;
   justify-content: center;
   font-weight:bolder;
    
   font-family: "Open Sans";
}


#cell7 img {
  height: 225px;
  width: 225px;
  position: absolute;
  margin-top: 6.5px;

}

#cell7 text {
   top: 0;
   display: flex;
   justify-content: center;
   font-weight:bolder;
    
   font-family: "Open Sans";
}


#cell8 img {
  height: 225px;
  width: 225px;
  position: absolute;
  margin-top: 6.5px;

}

#cell8 text {
   top: 0;
   display: flex;
   justify-content: center;
   font-weight:bolder;
    
   font-family: "Open Sans";
}


#cell9 img {
  height: 225px;
  width: 225px;
  position: absolute;
  margin-top: 6.5px;

}

#cell9 text {
   top: 0;
   display: flex;
   justify-content: center;
   font-weight:bolder;
    
   font-family: "Open Sans";
}

header a:visited{
    
    color: black;
}

header a {
    text-decoration: none;
}

header a {
text-decoration:  none;
color: black;
}

footer a:visited{
    
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

#cell1 button {
    visibility:hidden;
    position: relative;

    left: 50%;

    width: 100px;
    height: 35px;

    transform: translateX(-50%);
    top: 65%;

    
}

#cell1:hover button{
    visibility: visible;

    background-color: rgb(15, 15, 15);
    font-family: "Open Sans";
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
}



#cell2 button {
    visibility:hidden;
    position: relative;

    left: 50%;

    width: 100px;
    height: 35px;

    transform: translateX(-50%);
    top: 65%;

    
}

#cell2:hover button{
    visibility: visible;

    background-color: rgb(15, 15, 15);
    font-family: "Open Sans";
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
}


#cell3 button {
    visibility:hidden;
    position: relative;

    left: 50%;

    width: 100px;
    height: 35px;

    transform: translateX(-50%);
    top: 65%;

    
}

#cell3:hover button{
    visibility: visible;

    background-color: rgb(15, 15, 15);
    font-family: "Open Sans";
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
}

#cell4 button {
    visibility:hidden;
    position: relative;

    left: 50%;

    width: 100px;
    height: 35px;

    transform: translateX(-50%);
    top: 65%;

    
}

#cell4:hover button{
    visibility: visible;

    background-color: rgb(15, 15, 15);
    font-family: "Open Sans";
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
}

#cell5 button {
    visibility:hidden;
    position: relative;

    left: 50%;

    width: 100px;
    height: 35px;

    transform: translateX(-50%);
    top: 65%;

    
}

#cell5:hover button{
    visibility: visible;

    background-color: rgb(15, 15, 15);
    font-family: "Open Sans";
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
}




#cell6 button {
    visibility:hidden;
    position: relative;

    left: 50%;

    width: 100px;
    height: 35px;

    transform: translateX(-50%);
    top: 65%;

    
}

#cell6:hover button{
    visibility: visible;

    background-color: rgb(15, 15, 15);
    font-family: "Open Sans";
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
}


#cell7 button {
    visibility:hidden;
    position: relative;

    left: 50%;

    width: 100px;
    height: 35px;

    transform: translateX(-50%);
    top: 65%;

    
}

body {
    overflow-x: hidden;
}

#cell7:hover button{
    visibility: visible;

    background-color: rgb(15, 15, 15);
    font-family: "Open Sans";
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
}


#cell8 button {
    visibility:hidden;
    position: relative;

    left: 50%;

    width: 100px;
    height: 35px;

    transform: translateX(-50%);
    top: 65%;

    
}

#cell8:hover button{
    visibility: visible;

    background-color: rgb(15, 15, 15);
    font-family: "Open Sans";
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
}


#cell9 button {
    visibility:hidden;
    position: relative;

    left: 50%;

    width: 100px;
    height: 35px;

    transform: translateX(-50%);
    top: 65%;

    
}

#cell9:hover button{
    visibility: visible;

    background-color: rgb(15, 15, 15);
    font-family: "Open Sans";
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
}


#cart {
height: 30px;
width: 30px;

}

#order {

background-color: rgb(15, 15, 15);
font-family: "Open Sans";
color: white;
outline: none;
border: none;
border-radius: 20px;
height: 30px;
width: 100px;
margin-bottom: 2%;
font-size: 1em;
}


#content {
    padding-left: 7.5%;
    font-family: "Open Sans";
    padding-bottom: 3%;

}

h2 {
    font-size: 2em;
}

#items1 {
    display: none;


}

#items2 {
    display: none;

}

#items3 {
    display: none;

}

#items4 {
    display: none;

}

#items5 {
    display: none;

}

#items6 {
    display: none;

}

#items7 {
    display: none;

}

#items8 {
    display: none;

}

#items9 {
    display: none;

}

ul {
    list-style-type: none;
}

#del1 {
    background-color: rgb(243, 75, 75);
    color: white;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 5px;
    margin-bottom: 5px;
    height: 25px;
    width: 65px;
    display: none;

}
#del2 {
    background-color: rgb(243, 75, 75);
    color: white;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 5px;
    margin-bottom: 5px;
    height: 25px;
    width: 65px;
    display: none;
}

#del3 {
    background-color: rgb(243, 75, 75);
    color: white;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 5px;
    margin-bottom: 5px;
    height: 25px;
    width: 65px;
    display: none;
}

.total {
    display: flex;
}

#itemdiv {
    display: flex;

    align-items: center;
  }

#hiddenimg {
    display: none;
}

#hiddenimg2 {
    display: none;
}

#hiddenimg3 {
    display: none;
}

#hiddenimg4 {
    display: none;
}

#hiddenimg5 {
    display: none;
}

#hiddenimg6 {
    display: none;
}

#hiddenimg7 {
    display: none;
}

#hiddenimg8 {
    display: none;
}

#hiddenimg9 {
    display: none;
}






#del4 {
    background-color: rgb(243, 75, 75);
    color: white;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 5px;
    margin-bottom: 5px;
    height: 25px;
    width: 65px;
    display: none;

}
#del5 {
    background-color: rgb(243, 75, 75);
    color: white;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 5px;
    margin-bottom: 5px;
    height: 25px;
    width: 65px;
    display: none;
}

#del6 {
    background-color: rgb(243, 75, 75);
    color: white;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 5px;
    margin-bottom: 5px;
    height: 25px;
    width: 65px;
    display: none;
}





#del7 {
    background-color: rgb(243, 75, 75);
    color: white;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 5px;
    margin-bottom: 5px;
    height: 25px;
    width: 65px;
    display: none;

}
#del8 {
    background-color: rgb(243, 75, 75);
    color: white;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 5px;
    margin-bottom: 5px;
    height: 25px;
    width: 65px;
    display: none;
}

#del9 {
    background-color: rgb(243, 75, 75);
    color: white;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 5px;
    margin-bottom: 5px;
    height: 25px;
    width: 65px;
    display: none;
}





